/**
 * @file
 * HTML5 Colorpicker CSS styles.
 */

/* inner-wrapper */
.field-widget-html5-colorpicker .inner_wrapper, .form-item-html5-colorpicker .inner_wrapper {
    position: relative;
}
.field-widget-html5-colorpicker .inner_wrapper > input[type='text'], .form-item-html5-colorpicker .inner_wrapper > input[type='text'] {
    background: none;
}

/* html5-colorpicker */
.field-widget-html5-colorpicker .html5-colorpicker, .form-item-html5-colorpicker .html5-colorpicker {
    background-color: #222222;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: -20px;
    left: 42px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    z-index: 99;
}
/* picker */
.picker {
    cursor: crosshair;
    display: table;
    margin: 10px auto;
    border: 0;
}
/* controls */
.field-widget-html5-colorpicker .controls, .form-item-html5-colorpicker .controls {
    clear: both;
    float: none;
    margin: auto;
    width: 120px;
}
.field-widget-html5-colorpicker .controls > div, .form-item-html5-colorpicker .controls > div {
    border: 1px solid #FFF;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.field-widget-html5-colorpicker .controls label, .form-item-html5-colorpicker .controls label {
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    font-size: 10px;
    text-transform: none;
    padding-top: 4px;
    padding-left: 15px;
    line-height: 1.5;
}
.field-widget-html5-colorpicker .controls > div input, .form-item-html5-colorpicker .controls > div input {
    background: none;
    border: none;
    color: #FFF;
    float: right;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 10px;
    height: 14px;
    text-align: left;
    width: 50px;
    line-height: 1.5;
    padding: 4px;
    margin: 0;
}
/* preview */
.field-widget-html5-colorpicker .preview, .form-item-html5-colorpicker .preview {
    background: url("../images/select.png") repeat scroll center center transparent;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #444444;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 0 10px 0;
}
/* external buttons */
.field-widget-html5-colorpicker .form-submit:focus {
  outline: none;
}
