/**
 * @file
 * HTML5 Colorpicker Settings CSS styles.
 */

#edit-widget-style {
    position: relative;
}

#edit-widget-style .fieldset-wrapper {
    width: 400px;
    top: 0;
    left: 0;
}

#edit-widget-style .picker-sample-wrapper {
    bottom: 0;
    position: absolute;
    border: #CCC solid 1px;
    margin: 13px;
}

#edit-widget-style .picker-sample-wrapper .selector-sample {
    width: 100%;
    height: 100%;
}
